.box-head {
  border: 1px solid black;
  height: 30px;
}

.height-5 {
  height: 5em;
}

.font-nav {
  font-family: "Archivo Black", sans-serif;
  font-size: 17px;
}

.img-hero {
  width: 100vw;
  height: 50vh;
}
.box-hero {
  position: relative;
  /* text-align: center; */
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.font-1 {
  font-weight: bold;
  background-color: black;
  transform: translate(0%, -600%);
}
.font-2 {
  font-weight: bold;
  font-size: 72px;
}
.font-3 {
  font-weight: bold;
  font-size: 30px;
  transform: translate(0%, -75%);
}
.img {
  display: block;
}

.bg-img1 {
  background-image: url(images/p1.jpg);
}
.bg-img2 {
  background-image: url(images/p2.jpg);
}
.bg-img3 {
  background-image: url(images/p3.jpg);
}
.bg-img4 {
  background-image: url(images/p4.jpg);
}
.bg-img5 {
  background-image: url(images/p5.jpg);
}
.bg-img6 {
  background-image: url(images/p6.jpg);
}
