.box-head {
  border: 1px solid black;
  height: 30px;
}

.height-5 {
  height: 5em;
}

.font-nav {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
}

.img-hero {
  width: 100vw;
  height: 50vh;
}
